html {
    background-image: url("images/sand.jpg");
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 36px;
    font-family: Impact, Charcoal, sans-serif;
}

aside {
    font-style: oblique;
    padding: 15px 15px 15px 15px;
}

aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 250px;
    height: auto;
}

section {
    border: 10px solid black;
    margin: 1px 50px 1px 50px;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.3);
    color: black
}

ul {
    list-style-type:none;
}